h1 {
  white-space: nowrap;
  font-family: 'Playfair Display', serif;
  font-size: 60pt;
  line-height: 50%;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 30pt;
}

.quote {
  margin-left: 20px;
  width: 150%;
}

.quote-p {
  margin:0px;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 18pt;
}

body {
  background-color: #c2fedb;
  color: #121417;
  font-family: 'Roboto Slab', serif;
  font-size: 18pt;
}

a:link {
  color: #121417;
}

a:visited {
  color: #121417;
}

a:hover {
  color: #121417;
}

a:active {
  color: #121417;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: 30%;
}

.box {
  margin: 20px;
  min-width: 300px;
  max-width: 55ch;
  padding-bottom: 30px;
}

.content-box {
  background-color: #9bddb7;
}

.content-head {
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 50px;
  text-align:left;
}

.el {
  margin-left: 20px;
}

.heading {
  width: 50%;
  margin: 40px;
  margin-top: 100px;
}

.site {
  margin: 50px;
  width:90vw;
}
