h1 {
  white-space: nowrap;
  font-family: 'Playfair Display', serif;
  font-size: 60pt;
  line-height: 20%
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 30pt;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 18pt;
}

body {
  background-color: #c2fedb;
  color: #121417;
}

a:link {
  color: #121417;
}

a:visited {
  color: #121417;
}

a:hover {
  color: #121417;
}

a:active {
  color: #121417;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.content-box {
  margin: 20px;
  min-width: 300px;
  background-color: #9bddb7;
}

.content-head {
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  text-align:left;
}



.heading {
  width: 50%;
  margin: 40px;
  margin-top: 100px;
}

.site {
  margin: 50px;
  max-width: 1200px;
}
